[Desktop Entry]
Name=Clamvtk interface
Name[es]=ClamVtk interfaz para CLamAV
GenericName=ClamVtk: CLamAV antivirus interface 
GenericName[es]=ClamVtk interfaz para antivirus CLamAV
Comment=ClamVtk: CLamAV antivirus interface...
Comment[es]=Interfaz para antivirus CLamAV...
Exec=clamav-gui
Icon=/usr/share/pixmaps/clamav_001.png
Type=Application
Terminal=false
Categories=Utility
StartupNotify=true